@{
    ViewData["Title"] = "Motorbikes";
    Layout = "_LayoutUser";
}

<div class="container">
    <div class="row">
        <p>Email you can change @Html.ActionLink("here", "editEmail")</p>
    </div>
    
    <div class="row">
        <p>Password you can change @Html.ActionLink("here", "editPassword")</p>
    </div>
</div>