@model editPassword

@{
    ViewData["Title"] = "Motorbikes";
    Layout = "_LayoutUser";
}

<div class="d-flex justify-content-md-center">
    <div class="card">
        <h5 class="card-header">Change User Email</h5>
        <div class="d-flex justify-content-center" style="padding-right: 10rem; padding-left: 10rem; padding-top: 2rem; padding-bottom: 2rem;">
            <form method="post">
                <div class="modal-body">
                    <div class="form-outline mb-4 row">
                        <input type="password" name="currentPassword" class="form-control" placeholder="Old Password" />
                    </div>

                    <div class="form-outline mb-4 row">
                        <input type="password" name="newPassword" class="form-control" placeholder="New Password" />
                    </div>

                    <div class="form-outline mb-4 row">
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Update Password</button>
                    </div>
                </div>
            </form>
         </div>
    </div>
</div>