@{
    ViewData["Title"] = "User Page";
    Layout = "_LayoutUser";
}

<h1>Full motorcycle service checklist & cost</h1>

<p>As the owner of a motorcycle, it is your legal duty to ensure it is roadworthy and does not pose a hazard to yourself, any passengers, other road users or the general public.</p>

<h3>Why are motorcycle services important?</h3>

<p>A full motorcycle service will ensure any mechanical or electrical problems are ironed out ahead of your MOT and of course before they affect the safe operation of your motorbike.</p>

<p>Regularly servicing your motorcycle will not only prolong its life; Your machine may also be more efficient and more pleasant to ride when all its components are in optimum condition.</p>

<img src="https://callassist.blob.core.windows.net/startrescue/505a4b43-c934-4035-9a96-07764b64ea20.jpg" style="padding: 2rem" alt="motorcycle" width="70%" class="rounded mx-auto d-block">

<h3>Engine checks</h3>

<ul>
    <li>Oil change – the grade used will depend on the manufacturer’s recommendation</li>
    <li>New oil filter</li>
    <li>New air filter</li>
    <li>New spark plugs</li>
    <li>Test/replace/top-up coolant as required</li>
</ul>

<h3>Road test</h3>

<p>With motorcycle servicing, a full service will include a road test to ensure the motorbike is running as expected.</p>

<img src="https://www.startrescue.co.uk/media/8e3540b9-9d3b-4cbd-b046-7c08beda63d0.jpg" style="padding: 2rem" alt="motorcycle" width="70%" class="rounded mx-auto d-block ">

<h3>How much is a motorbike service? - How much is a full service for a motorbike?</h3>

<p>The cost of a full motorbike service depends on the size of your engine and the specific pricing of your chosen garage.</p>

<p>Motorcycle servicing costs at an independent garage may be less than motorcycle services costs at a garage which is part of a nationwide or regional chain, because the latter has larger operating costs for things like marketing and city centre business rates. And unlike some small garages, chains will need to pay VAT.</p>

<p>Here is a rough idea of what you might expect to pay for a motorbike service:</p>

<ul>
    <li>Below 250cc: £80 - £130</li>
    <li>250cc – 600cc: £90 - £160</li>
    <li>Up to 1000cc: around £180</li>
</ul>