@model LoginForm

@{
    ViewData["Title"] = "Main Page";
}

@using (Html.BeginForm())
{
    <div>
        <div>
            <p>Email: @Html.TextBoxFor(model => model.Email, new {@class = "form-control"})</p>
        </div>

        <div>
            <p>Password: @Html.PasswordFor(model => model.Password, new {@class = "form-control"})</p>
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Login</button>


    <p>If you don't have account, you can register @Html.ActionLink("Here", "register", "Home") </p>
}