@{
    ViewData["Title"] = "Admin Page";
}

<h1>This is Admin Main Page</h1>


@Html.ActionLink("New Motorbike", "NewMotorbike", "Admin", htmlAttributes: new { @class = "btn btn-primary", @role="button" })

<br>
<br>

@Html.ActionLink("Manage Services", "ServisManage", "Admin", htmlAttributes: new { @class = "btn btn-primary", @role="button" })

<br>
<br>

@Html.ActionLink("Logout", "LogOut", "Admin", htmlAttributes: new { @class = "btn btn-primary", @role="button" })