@model Motorbike

@{
    ViewData["Title"] = "New MotorBike";
}

@using (Html.BeginForm())
{
    <div>
        <div>
            <p>Motorbike Name: @Html.TextBoxFor(model => model.Name, new {@class = "form-control", @placeholder = "Motorbike Name"})</p>
        </div>
        <div>
            <p>Price: @Html.TextBoxFor(model => model.Price, new {@class = "form-control", @placeholder = "Price", @type = "number"})</p>
        </div>
        <div>
            <p>Image: @Html.TextBoxFor(model => model.Image, new {@class = "form-control", @placeholder = "Image Link"})</p>
        </div>
        <div>
            <p>Description: @Html.TextAreaFor(model => model.Description, new {@class = "form-control", @placeholder = "Motorbike Description"})</p>
        </div>
    </div>
    
    <button type="submit" class="btn btn-primary">Add new Motorbike</button>
}